@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/poppins-bold.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('./assets/fonts/proxima-nova-regular.woff2');
  font-weight: 400;
}

@layer base {
  html {
    font-family: 'proxima-nova', Helvetica, Arial, system-ui, sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    background: #fafafa;
  }
  html.dark {
    background: black;
  }
}
