@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/poppins-bold.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('./assets/fonts/proxima-nova-regular.woff2');
  font-weight: 400;
}

@layer base {
  /* * {
    outline: 1px solid red;
  } */
  html {
    font-family: 'proxima-nova', Helvetica, Arial, system-ui, sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    background: #fafafa;
  }
  html.dark {
    background: black;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-primary;
  }
  h1 {
    @apply text-2xl text-black dark:text-white sm:text-3xl;
  }
  h2 {
    @apply font-primary text-xl text-black dark:text-white sm:text-2xl;
  }
  h3 {
    @apply text-base text-gray-600 dark:text-gray-400;
  }
  h4 {
    @apply text-2xl;
  }
  p {
    @apply mb-5 text-gray-600;
  }
  a {
    @apply text-primary hover:text-black dark:text-primary-dark dark:hover:text-white;
  }

  input[type='radio'],
  input[type='checkbox'] {
    appearance: none;
    font: inherit;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    border: 1px solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type='radio']::before,
  input[type='checkbox']::before {
    content: '';
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    transform: scale(0);
    transition: 90ms transform ease-in-out;
    @apply border border-primary dark:border-primary-dark;
  }

  input[type='radio']:checked::before,
  input[type='checkbox']:checked::before {
    transform: scale(2);
  }

  /* reset checkbox */
  input[type='checkbox'],
  input[type='checkbox']:checked:before,
  input[type='checkbox']::before {
    border-radius: 2%;
  }
}
